[submodule "python/metadata-registry-interface-specifications"]
	path = python/metadata-registry-interface-specifications
	url = https://github.com/jacbeekers/metadata-registry-interface-specifications.git
