{
  "meta": "edc_connectivity_secrets"
 ,"meta_version": "0.3.0"
 ,"edc_url": "http://localhost:7777"
 ,"edc_auth": "\"Authorization\": Basic bWU6c29tZXRoaW5n --> This is a dummy value and won't work! <--"
 ,"edc_http_proxy": "None"
 ,"edc_https_proxy": "None"
}
