{
  "items": [
    {
      "id": "{{ object_id }}",
      "facts": [
            {{ business_description }},
            {{ formula }},
            {{ uuid }}
      ],
      "srcLinks": [{
          "id": "{{ parent_object_id }}",
          "readOnly": false,
          "association": "com.infa.ldm.file.delimited.DelimitedFileField",
          "linkProperties": []
        }
      ],
      "businessTerms": []
    }
  ]
}
