{
  "items": [
    {
      "analyzer": "TEXT_TECHNICAL",
      "boost": "HIGH",
      "classes":
        {{ allowed_classes }}
      ,
      "dataTypeId": "core.String",
      "deprecated": false,
      "derived": false,
      "description": "{{ attribute_description }}",
      "facetable": false,
      "indexed": true,
      "multivalued": false,
      "name": "{{ attribute_name }}",
      "resources": {
        "assignmentType": "{{ type_allowed_resources }}",
        "values":
          {{ attribute_allowed_resources }}
      },
      "searchable": true,
      "sortable": false,
      "suggestable": false
    }
  ]
}